# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.pytest_cache/

# Virtual env
.venv/
venv/

# Env files
.env

# OS / IDE
.DS_Store
.vscode/
.idea/

# Angular frontend
../frontend/node_modules/
../frontend/.angular/
../frontend/dist/